# Default ignored files
/shelf/
/workspace.xml
../cmake-build-debug
../CMakeLists.txt
# .clang-format
../CMakeLists.txt
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
